h1, h2, h3 {color:brown;font-size:x-large;
background-color:antiquewhite;margin-right: 90%;}

p {font-family: Arial, Helvetica, sans-serifS;font-size: larger;}

img {width: 10%;height: 10%;}

ul {font-family: 'Times New Roman', Times, serif;}

